@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: #ffffff;
        --foreground: #333333;
        --card: #ffffff;
        --card-foreground: #333333;
        --popover: #ffffff;
        --popover-foreground: #333333;
        --primary: #0582ca;
        --primary-foreground: #ffffff;
        --secondary: #e7ecef;
        --secondary-foreground: #64748b;
        --muted: #f1f5f9;
        --muted-foreground: #64748b;
        --accent: #f1f5f9;
        --accent-foreground: #0f172a;
        --destructive: #ef4444;
        --destructive-foreground: #f8fafc;
        --success: #2a9d90;
        --success-foreground: #f1f5f9;
        --warning: #e8c468;
        --warning-foreground: #333333;
        --info: #0582ca;
        --info-foreground: #ffffff;
        --border: #e2e8f0;
        --input: #e2e8f0;
        --ring: #0582ca;
        --radius: 0.5rem;
    }

    .dark {
        --background: #020817;
        --foreground: #f8fafc;
        --card: #020817;
        --card-foreground: #f8fafc;
        --popover: #020817;
        --popover-foreground: #f8fafc;
        --primary: #0582ca;
        --primary-foreground: #0f172a;
        --secondary: #0582ca;
        --secondary-foreground: #f8fafc;
        --muted: #0582ca;
        --muted-foreground: #94a3b8;
        --accent: #0582ca;
        --accent-foreground: #f8fafc;
        --destructive: #7f1d1d;
        --destructive-foreground: #f8fafc;
        --border: #0582ca;
        --input: #0582ca;
        --ring: #0582ca;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}
